
button{
    transition-duration: 0.3s;
    opacity: 0.6;
    border-style: none;
}
button:hover{
    opacity: 1.0;
}

.btnLikeFor-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("../img/likeButton.png");


}
.btnLikeAgainst-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("../img/likeButton.png");

}

.clicked{
    background: url("../img/likedButton.png");
}
.btnInteractivityFor-li-id{
    border: solid black;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 0.25rem;

}

.btnThreadFor-li-id{
    margin-right: 2%;
    border: solid black;
    border-width: 0 0.20rem 0.20rem 0;
    padding: 0.20rem;



}
.btnThreadAgainst-li-id{
    margin-right: 1%;
    border: solid black;
    border-width: 0 0.20rem 0.20rem 0;
    padding: 0.20rem;



}

.btnInteractivityAgainst-li-id{
    border: solid black;
    border-width: 0 0.20rem 0.20rem 0;
    padding: 0.20rem;
}

.up{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}