
button{
    transition-duration: 0.3s;
    opacity: 0.6;
    border-style: none;
}
button:hover{
    opacity: 1.0;
}

.btnLikeFor-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("../img/likeButton.png");


}
.btnLikeAgainst-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("../img/likeButton.png");

}

.clicked{
    background: url("../img/likedButton.png");
}
.btnInteractivityFor-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;

}

.btnThreadFor-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;

}
.btnThreadAgainst-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;

}
.btnInteractivityAgainst-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
}

.up{
    background: url("../img/upArrow.png");
}

.down {
    background: url("../img/downArrow.png");

}