
button{
    transition-duration: 0.3s;
    opacity: 0.6;
    border-style: none;
}
button:hover{
    opacity: 1.0;
}

.btnFor-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("likeButton.png");


}
.btnAgainst-li-id{
    position: relative;
    display: inline-block;
    height: 1.7rem;
    width: 1.6rem;
    margin-right: 2%;
    background: url("likeButton.png");

}

.liked{
    background: url("likedButton.png");
}
