.override{
    display: inline-block;
}

.respectSliderWrapperAgainst-li-id{
    display: inline-block;
}

.respectSliderWrapperFor-li-id{
    display: inline-block;
}


.relevancySliderFor-li-id{
    display: inline-block;
    -webkit-appearance: none;
    width: 6rem;
    height: 1.25rem;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



.relevancySliderAgainst-li-id{
    display: inline-block;
    -webkit-appearance: none;
    width: 6rem;
    height: 1.25rem;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}




.relevancySliderValueFor-li-id{
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s;
}

.relevancySliderValueAgainst-li-id{
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s;
}

.relevancySliderFor-li-id::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 1.25rem;
    border: 0;
    background: url('relevancy.png') no-repeat;
    cursor: pointer;
}

.relevancySliderFor-li-id::-moz-range-thumb {
    width: 30%;
    height: 1.25rem;
    border: 0;
    background: url('relevancy.png') no-repeat ;
    cursor: pointer;
}



.relevancySliderAgainst-li-id::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 1.25rem;
    border: 0;
    background: url('relevancy.png') no-repeat;
    cursor: pointer;
}

.relevancySliderAgainst-li-id::-moz-range-thumb {
    width: 30%;
    height: 1.25rem;
    border: 0;
    background: url('relevancy.png') no-repeat ;
    cursor: pointer;
}