/*TODO Leave this until after demo*/
.override{
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
}

.respectSliderWrapperAgainst-li-id{
    display: inline-block;

}
.respectSliderWrapperFor-li-id{
    display: inline-block;
}

.respectSliderFor-li-id{
    display: inline-block;
    -webkit-appearance: none;
    width: 6rem;
    height: 1.25rem;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.respectSliderAgainst-li-id{
    display: inline-block;
    -webkit-appearance: none;
    width: 6rem;
    height: 1.25rem;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



.respectSliderValueFor-li-id{
    display: inline-block;
    visibility: visible;
    opacity: 1;
    -webkit-appearance: none;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.respectSliderValueAgainst-li-id{
    display: inline-block;
    visibility: visible;
    opacity: 1;
    -webkit-appearance: none;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}




.respectSliderValueFor-li-id:Hover{
    display: inline-block;
    visibility: visible;
    opacity: 1;

}

.respectSliderValueAgainst-li-id:Hover{
    display: inline-block;
    visibility: visible;
    opacity: 1;

}

.respectSliderFor-li-id::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 33%;
    height: 1.25rem;
    border: 0;
    background: url('fistbump.png') no-repeat;
    cursor: pointer;
}

.respectSliderFor-li-id::-moz-range-thumb {
    width: 33%;
    height: 1.25rem;
    border: 0;
    background: url('fistbump.png') no-repeat;
    cursor: pointer;
}



.respectSliderAgainst-li-id::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 33%;
    height: 1.25rem;
    border: 0;
    background: url('fistbump.png') no-repeat;
    cursor: pointer;
}

.respectSliderAgainst-li-id::-moz-range-thumb {
    width: 33%;
    height: 1.25rem;
    border: 0;
    background: url('fistbump.png') no-repeat;
    cursor: pointer;
}